{% extends 'admin.html.twig' %}

{% set title = ['Plugins', 'plugins'] %}

{% block content %}
    <div class="page-header">
        <h1>Plugins</h1>
    </div>
    <p>Nothing here. Sorry :/</p>
{% endblock %}