{% extends 'admin.html.twig' %}

{% set title = ['Updates', 'updates'] %}

{% block content %}
    <div class="page-header">
        <h2>Updates</h2>
    </div>
    <p>Nothing here, sorry :/</p>
{% endblock %}