{% extends 'admin.html.twig' %}

{% set title = ['Dashboard', 'dashboard'] %}

{% block content %}
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <p>Nothing here. Sorry :/</p>
{% endblock %}