{% extends 'admin.html.twig' %}

{% set title = ['Dashboard', 'dashboard'] %}

{% block content %}
    <div class="page-header">
        <h2>Dashboard</h2>
    </div>
    <p>Basalt is still in very, very early stage.</p>
    <p>If you'll find any bugs, report them <a href="https://github.com/basalt-cms/basalt/issues/new">here on GitHub</a>.</p>
{% endblock %}
