<!DOCTYPE html>
<html>
    <head>
        <title>{{ siteName }}</title>
    </head>
    <body>
        <h1>{{ siteName }}</h1>
        {% for page in pages %}
            <h2>{{ page.name }}</h2>
            <pre>{{ page.content }}</pre>
        {% endfor %}
    </body>
</html>